<a href="https://colab.research.google.com/github/ferminacy/Sqlite_Dataexploration/blob/main/HealthcareDataExplorationSQLitePandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import sqlite3

In [26]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [49]:
df = pd.read_csv('https://data.cdc.gov/resource/muzy-jte6.csv')
#Set has been downloaded in CSV format

In [50]:
print(df.head())
print(df_columns)
#Ensure that CSV file loaded correctly

                data_as_of jurisdiction_of_occurrence  mmwryear  mmwrweek  \
0  2023-09-27T00:00:00.000              United States      2020         1
1  2023-09-27T00:00:00.000              United States      2020         2
2  2023-09-27T00:00:00.000              United States      2020         3
3  2023-09-27T00:00:00.000              United States      2020         4
4  2023-09-27T00:00:00.000              United States      2020         5

  week_ending_date  all_cause  natural_cause  septicemia_a40_a41  \
0       2020-01-04      60179          55010               843.0
1       2020-01-11      60735          55755               861.0
2       2020-01-18      59363          54516               829.0
3       2020-01-25      59162          54401               828.0
4       2020-02-01      58834          54001               811.0

   malignant_neoplasms_c00_c97  diabetes_mellitus_e10_e14  ...  flag_alz  \
0                      11567.0                     1829.0  ...       NaN
1                      11963.0                     1942.0  ...       NaN
2                      11701.0                     1819.0  ...       NaN
3                      11879.0                     1864.0  ...       NaN
4                      11963.0                     1828.0  ...       NaN

   flag_inflpn  flag_clrd  flag_otherresp  flag_nephr  flag_otherunk  flag_hd  \
0          NaN        NaN             NaN         NaN            NaN      NaN
1          NaN        NaN             NaN         NaN            NaN      NaN
2          NaN        NaN             NaN         NaN            NaN      NaN
3          NaN        NaN             NaN         NaN            NaN      NaN
4          NaN        NaN             NaN         NaN            NaN      NaN

   flag_stroke  flag_cov19mcod  flag_cov19ucod
0          NaN             NaN             NaN
1          NaN             NaN             NaN
2          NaN             NaN             NaN
3          NaN             NaN             NaN
4          NaN             NaN             NaN

[5 rows x 35 columns]
   cid                                               name  type  notnull  \
0    0  data_as_of,"jurisdiction_of_occurrence","mmwry...  TEXT        0

  dflt_value  pk
0       None   0

In [51]:
conn = sqlite3.connect('healthcare.db')
cur = conn.cursor()

In [52]:
df.to_sql('healthcare_data', conn, if_exists='replace', index=False)

1000

In [53]:
query = "SELECT * FROM healthcare_data LIMIT 5;"
result = pd.read_sql(query, conn)
print(result)

                data_as_of jurisdiction_of_occurrence  mmwryear  mmwrweek  \
0  2023-09-27T00:00:00.000              United States      2020         1
1  2023-09-27T00:00:00.000              United States      2020         2
2  2023-09-27T00:00:00.000              United States      2020         3
3  2023-09-27T00:00:00.000              United States      2020         4
4  2023-09-27T00:00:00.000              United States      2020         5

  week_ending_date  all_cause  natural_cause  septicemia_a40_a41  \
0       2020-01-04      60179          55010               843.0
1       2020-01-11      60735          55755               861.0
2       2020-01-18      59363          54516               829.0
3       2020-01-25      59162          54401               828.0
4       2020-02-01      58834          54001               811.0

   malignant_neoplasms_c00_c97  diabetes_mellitus_e10_e14  ...  flag_alz  \
0                      11567.0                     1829.0  ...      None
1                      11963.0                     1942.0  ...      None
2                      11701.0                     1819.0  ...      None
3                      11879.0                     1864.0  ...      None
4                      11963.0                     1828.0  ...      None

   flag_inflpn  flag_clrd  flag_otherresp  flag_nephr  flag_otherunk  flag_hd  \
0         None       None            None        None           None     None
1         None       None            None        None           None     None
2         None       None            None        None           None     None
3         None       None            None        None           None     None
4         None       None            None        None           None     None

   flag_stroke  flag_cov19mcod  flag_cov19ucod
0         None            None            None
1         None            None            None
2         None            None            None
3         None            None            None
4         None            None            None

[5 rows x 35 columns]

In [54]:
conn.close()

In [56]:
conn = sqlite3.connect('healthcare.db')

query1 = """
SELECT *
FROM healthcare_data
WHERE mmwryear = 2020;
"""

df_query1 = pd.read_sql(query1, conn)
print(df_query1.head())
#Query 1: Select all records based on a specific filter of your choice

                data_as_of jurisdiction_of_occurrence  mmwryear  mmwrweek  \
0  2023-09-27T00:00:00.000              United States      2020         1
1  2023-09-27T00:00:00.000              United States      2020         2
2  2023-09-27T00:00:00.000              United States      2020         3
3  2023-09-27T00:00:00.000              United States      2020         4
4  2023-09-27T00:00:00.000              United States      2020         5

  week_ending_date  all_cause  natural_cause  septicemia_a40_a41  \
0       2020-01-04      60179          55010               843.0
1       2020-01-11      60735          55755               861.0
2       2020-01-18      59363          54516               829.0
3       2020-01-25      59162          54401               828.0
4       2020-02-01      58834          54001               811.0

   malignant_neoplasms_c00_c97  diabetes_mellitus_e10_e14  ...  flag_alz  \
0                      11567.0                     1829.0  ...      None
1                      11963.0                     1942.0  ...      None
2                      11701.0                     1819.0  ...      None
3                      11879.0                     1864.0  ...      None
4                      11963.0                     1828.0  ...      None

   flag_inflpn  flag_clrd  flag_otherresp  flag_nephr  flag_otherunk  flag_hd  \
0         None       None            None        None           None     None
1         None       None            None        None           None     None
2         None       None            None        None           None     None
3         None       None            None        None           None     None
4         None       None            None        None           None     None

   flag_stroke  flag_cov19mcod  flag_cov19ucod
0         None            None            None
1         None            None            None
2         None            None            None
3         None            None            None
4         None            None            None

[5 rows x 35 columns]

In [57]:
query2 = """
SELECT COUNT(*)
FROM healthcare_data
WHERE covid_19_u071_multiple_cause_of_death > 0;
"""

df_query2 = pd.read_sql(query2, conn)
print(df_query2)
#Query 2: Count the number of records that meet a certain condition
#774 records where COVID is listed as multiple causes of death

   COUNT(*)
0       774

In [58]:
query3 = """
SELECT mmwryear, SUM(all_cause) AS total_all_cause_deaths
FROM healthcare_data
GROUP BY mmwryear;
"""

df_query3 = pd.read_sql(query3, conn)
print(df_query3)
#Query 3: Group the data by a specific column and calculate a summary statistic

   mmwryear  total_all_cause_deaths
0      2020                 3800593
1      2021                 3652526
2      2022                 3457170
3      2023                 2251220

In [60]:
query4 = """
SELECT *
FROM healthcare_data
ORDER BY all_cause DESC
LIMIT 5;
"""

df_query4 = pd.read_sql(query4, conn)
print(df_query4)
#Query 4: Sort the records based on a numerical or categorical field and return a limited set of results

                data_as_of jurisdiction_of_occurrence  mmwryear  mmwrweek  \
0  2023-09-27T00:00:00.000              United States      2021         2
1  2023-09-27T00:00:00.000              United States      2021         1
2  2023-09-27T00:00:00.000              United States      2020        53
3  2023-09-27T00:00:00.000              United States      2022         3
4  2023-09-27T00:00:00.000              United States      2022         2

  week_ending_date  all_cause  natural_cause  septicemia_a40_a41  \
0       2021-01-16      87415          81622               828.0
1       2021-01-09      87074          81201               854.0
2       2021-01-02      87033          81119               894.0
3       2022-01-22      85747          79835               864.0
4       2022-01-15      85133          79112               950.0

   malignant_neoplasms_c00_c97  diabetes_mellitus_e10_e14  ...  flag_alz  \
0                      11852.0                     2473.0  ...      None
1                      11340.0                     2377.0  ...      None
2                      11694.0                     2448.0  ...      None
3                      11979.0                     2601.0  ...      None
4                      12284.0                     2549.0  ...      None

   flag_inflpn  flag_clrd  flag_otherresp  flag_nephr  flag_otherunk  flag_hd  \
0         None       None            None        None           None     None
1         None       None            None        None           None     None
2         None       None            None        None           None     None
3         None       None            None        None           None     None
4         None       None            None        None           None     None

   flag_stroke  flag_cov19mcod  flag_cov19ucod
0         None            None            None
1         None            None            None
2         None            None            None
3         None            None            None
4         None            None            None

[5 rows x 35 columns]